---
import BaseLayout from "./BaseLayout.astro";

import { type FrontmatterType } from "../types";
import { formatDate, humanDate } from "../utils/utils";

interface MarkdownLayoutProps {
  frontmatter: FrontmatterType;
  headings: {
    depth: number;
    slug: string;
    text: string;
  }[];
}

const { frontmatter, headings } = Astro.props as MarkdownLayoutProps;

const { title, publishDate, description } = frontmatter;
---

<BaseLayout pageTitle={title}>
  <!-- <a href="/blog">Go back</a> -->
  <div class="header">
    <h1 class="blog-header">{title}</h1>
    <time class="blog-date" datetime={new Date(publishDate).toDateString()}
      >Published on {humanDate(publishDate)}</time
    >
  </div>
  <div class="container">
    <div class="md-wrapper">
      <slot />
    </div>
    <!-- the markdown content itself will be rendered in the slot -->
  </div>
</BaseLayout>

<style>
  .header {
    padding: 1rem;
    padding-top: calc(1rem + 5vh);
    padding-bottom: 2rem;
  }

  .blog-header {
    font-size: clamp(1.7rem, 3vw, 2.5rem);
    margin-bottom: 0.5rem;
  }

  .blog-date {
    font-size: clamp(0.9rem, 4vw, 1.2rem);
  }

  .container {
    margin: 0 auto;
    border-radius: var(--rounded-xl);
    padding: 2.5rem 1rem;
    border: 1px solid var(--border-color);
    background-color: var(--neutral);
  }

  @media screen and (min-width: 60rem) {
    .md-wrapper {
      margin: 0 auto;
      max-width: 75%;
    }
  }
</style>
